.git
.gitignore
.gitattributes
.venv
venv
env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
datasets/
frontend/
db/
*.md
.vscode/
.idea/
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
